<!DOCTYPE html>
<html>
  <head>
    <title>B & B's of NS</title>
    <nav><%- include('./includes/nav-links.ejs') %></nav>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Beautiful B&B's of Nova Scotia</h1>
    <p>Welcome<% if(signedInAs){%>, <%=signedInAs%><%}%></p>
    <img src="bandbns1.jpg" alt="lighthouse" />
  </body>
</html>