<!DOCTYPE html>
<html>
  <head>
    <title>B & B's of NS</title>
    <nav><%- include('./includes/nav-links.ejs') %></nav>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sign Up To Receive our B & B Newsletter!</h1>
    <form action="/auth/sign-up" method="post">
      <div>
        <label for="handle">Handle:</label>
        <input type="text" id="handle" name="handle" minlength="4" maxlength="20">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" minlength="4" maxlength="30">
      </div>
      <button type="submit">Sign Up</button>
    </form><br>
    <img src="../bandbns5.jpeg" alt="girl on huge sandy beach" />
  </body>
</html>