body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.nav-link {
  color: #0F13E8;
  font-size: 1.2em;
  margin: 5px 20px;
}

p {
  font-size: 1.2em;
  font-style: italic;
}

label, input {
  margin: 10px 0px;
  font-size: 1.2em;
}

form {
  width: 30%;
}

button:not(.likeButton) {
  margin-top: 15px;
  font-size: 1.1em;
}

button.likeButton {
  background-color: #24E86E;
  color: black;
}

li {
  font-size: 1.3em;
  margin: 5px 0px;
}

img {
  border: solid 3px blue;
}